h1 {
    padding: 30px;
    text-align: center;
}

th {
    color: grey;
    height: 50px;
    font-size: 20px;
    background-color: rgba(139, 139, 139, 0.559);
}

td {
    height: 200px;
    width: 200px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    background-color: rgba(203, 203, 203, 0.795);
}

.tableHolder {
    margin: 0 100px 100px 100px;
}


