h2 {
    font-family: cursive;
}

.randomShoppingList {
    font-size: 20px;
    font-family: MV Boli;
    background-color: #fffbbf;
    width: 30%;
    text-align: center;
    padding: 15px 0 15px 0;
    height: 1.7cm;
    width: 12cm;
}

.generateListButton {
    background-color: #B5B9FF;
    border: none;
    color: black;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 11px 7px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 5cm;
    align-self: center;
    border-radius: 30px;
}