html { 
  background: url(images/background.avif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 

.titleDiv {
  background-color: #3b5d60c0;
  width:400px;
  height:400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.title {
  font-size: 70px;
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

.lotusPose {
  background-image: url('images/woman.png');
  width:565px;
  height:535px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  font-size: 40px;
  font-style: italic;
}

.color1 {
  width: 50px;
  background-color: rgba(0, 0, 0, 0.838);
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chakra1 {
  color: #972c90;
  position: absolute;
  top: -45px;
  left: -12%;
  transform: translate(-50%, -50%);
}

.meaning1 {
  color: #972c90;
  position: absolute;
  top: -45px;
  left: 115%;
  transform: translate(-50%, -50%);
}

.color2 {
  width: 50px;
  background-color: rgba(0, 0, 0, 0.838);
  border-radius: 50%;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chakra2 {
  color: #57479d;
  position: absolute;
  top: 38px;
  left: -12%;
  transform: translate(-50%, -50%);
}

.meaning2 {
  color: #57479d;
  position: absolute;
  top: 38px;
  left: 115%;
  transform: translate(-50%, -50%);
}

.color3 {
  width: 50px;
  background-color: rgba(0, 0, 0, 0.838);
  border-radius: 50%;
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chakra3 {
  color: #276ab3;
  position: absolute;
  top: 115px;
  left: -12%;
  transform: translate(-50%, -50%);
}

.meaning3 {
  color: #276ab3;
  position: absolute;
  top: 115px;
  left: 115%;
  transform: translate(-50%, -50%);
}

.color4 {
  width: 50px;
  background-color: rgba(0, 0, 0, 0.838);
  border-radius: 50%;
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chakra4 {
  color: #1da64a;
  position: absolute;
  top: 196px;
  left: -12%;
  transform: translate(-50%, -50%);
}

.meaning4 {
  color: #1da64a;
  position: absolute;
  top: 196px;
  left: 115%;
  transform: translate(-50%, -50%);
}

.color5 {
  width: 50px;
  background-color: rgba(0, 0, 0, 0.838);
  border-radius: 50%;
  position: absolute;
  top: 320px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chakra5 {
  color: #fecc0c;
  position: absolute;
  top: 278px;
  left: -12%;
  transform: translate(-50%, -50%);
}

.meaning5 {
  color: #fecc0c;
  position: absolute;
  top: 278px;
  left: 115%;
  transform: translate(-50%, -50%);
}

.color6 {
  width: 50px;
  background-color: rgba(0, 0, 0, 0.838);
  border-radius: 50%;
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chakra6 {
  color: #f15c26;
  position: absolute;
  top: 355px;
  left: -12%;
  transform: translate(-50%, -50%);
}

.meaning6 {
  color: #f15c26;
  position: absolute;
  top: 355px;
  left: 115%;
  transform: translate(-50%, -50%);
}

.color7 {
  width: 50px;
  background-color: rgba(0, 0, 0, 0.838);
  border-radius: 50%;
  position: absolute;
  top: 480px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chakra7 {
  color: #d5182b;
  position: absolute;
  top: 438px;
  left: -12%;
  transform: translate(-50%, -50%);
}

.meaning7 {
  color: #d5182b;
  position: absolute;
  top: 438px;
  left: 115%;
  transform: translate(-50%, -50%);
}