#button1 {
    background-color: #BFFCC6;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 11px 7px;
    cursor: pointer;
    font-family: Tahoma;
    width: 5cm;
    align-self: center;
    border-radius: 30px;
}


button2 {
    background-color: #BFFCC6;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 6px 6px;
    cursor: pointer;
    font-family: Tahoma;
    width: 3.4cm;
    align-self: center;
    border-radius: 30px;
}


button3 {
    background-color: #B5B9FF;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 6px;
    cursor: pointer;
    font-family: Tahoma;
    width: 3.4cm;
    align-self: center;
    border-radius: 30px;
}


button {
    background-color: #85E3FF;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 6px 6px;
    cursor: pointer;
    font-family: Tahoma;
    align-self: center;
    border-radius: 30px;
}