@media only screen and (max-width: 768px) {


    .padding-row-y {
        padding-top: 50px;
        padding-bottom: 50px;
    }




    .swiperPresentation {
        width: 50%;
        max-width: 400px;
        height: 300px;
    }

/* -------------- */

    .tattooShopName {
        padding-right: 0px;
    }

    .descriptionOne {
        padding-right: 0px;
    }

    .descriptionTwo {
        padding-right: 0px;
    }


/* -------------- */

    .aboutDescription {
        padding-right: 0px;
    }

    .aboutThirdParagraph {
        padding-bottom: 25px;
    }

    .sketchImage {
        height: 170px;
        width: 100%;    
    }

    .tattooShopImage {
        height: 122px;
        width: 100%;    
        margin-top: 30px;
    }

    .aboutSecondParagraph {
        padding-top: 30px;
    }

    .aboutThirdParagraph {
        padding-bottom: 30px;
    }


    /* -------------- */

    .artistName {
        margin-bottom: 20px;
    }

    .spirals {
        margin-bottom: 20px;
    }

    .artistPortofolio {
        width: 90%;
        max-width: 400px;
        height: 400px;
        margin-bottom: 60px;
    }

    .lastPortofolio {
        margin-bottom: 0px;
    }

    /* -------------- */


    .servicesIcon {
        width: 40px;
        height: 40px;
        margin-bottom: 30px;
        margin-right: 0px;
    }

    .iconHolder {
        text-align: center;
    }

    .serviceName {
        text-align: center;
        margin-bottom: 30px;

    }

    .serviceDescription {
        text-align: center;
        margin-bottom: 0px;
    }

    .service {
        padding-right: 0px;
    }

    .tattooing, .tattooingDesign, .coverUp {
        margin-bottom: 60px;
    }



    /* -------------- */

    .contactTitle {
        margin-bottom: 60px;
    }

    .contactDescription {
        margin-bottom: 30px;
    }

    .inputSpace {
        margin-bottom: 30px;
        width: 90%;
    }

    .submitButton {
        width: 90%;
    }






    .allSections {
        margin-bottom: 80px;
    }




    .footerDetails {
        padding-top: 30px;
        padding-top: 30px;
    }


    .detailsList > li {
        margin-bottom: 30px;
    }

    .socialMedia > li {
        margin-bottom: 30px;
    }

    #map {
        margin-bottom: 40px;
    }



}

