@media only screen and (max-width: 768px) {

    /* ---------- GENERAL ---------- */

    .padding-row-y {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .allSections {
        margin-bottom: 80px;
    }



    /* ----------  HEADER - LOGO & MENU ---------- */

    .logoAndMenu {
        display: none;
    }

    .mobileLogo {
        width: 130px;
    }
        
    .mobileLogoAndMenu {
        display: block;
        overflow: hidden;
        position: relative;
        -webkit-tap-highlight-color: transparent;
    }

    .logoMenu {
        padding-top: 4%;
    }
    
    .mobileLogoAndMenu #closeAndNavLinks {
        display: none;
        background-color: black;
        height: 100%;
        width: 100%;
        z-index: 100;
        position: fixed;
        text-align: center;
    }
    
    .mobileLogoAndMenu a {
        color: white;
        font-family: 'Raleway';
        letter-spacing: 0.21em;
        font-size: 18px;
        font-weight: 600;    
        text-decoration: none;
        display: block;
    }

    #closeAndNavLinks a {
        margin-bottom: 50px;
    }

    #closeAndNavLinks a:first-of-type {
        margin-bottom: 50%;
        text-align: end;
        padding-top: 6%;
    }
    
    .mobileLogoAndMenu a.icon {
        display: block;
        right: 0;
        top: 0;
    }



    /* ----------  SECTION 1 - Presentation section  ---------- */

    .tattooShopName, .descriptionOne, .descriptionTwo {
        padding-right: 0px;
    }

    .swiperPresentation {
        width: 50%;
        max-width: 400px;
        height: 300px;
    }



    /* ----------  SECTION 2 - About section  ---------- */

    .aboutDescription {
        padding-right: 0px;
    }

    .aboutSecondParagraph {
        padding-top: 30px;
    }

    .aboutThirdParagraph {
        padding-bottom: 30px;
    }

    .sketchImage {
        height: 170px;
        width: 100%;    
    }

    .tattooShopImage {
        height: 122px;
        width: 100%;    
        margin-top: 30px;
    }



    /* ----------  SECTION 3 - Artists section  ---------- */

    .artistName, .spirals {
        margin-bottom: 20px;
    }

    .artistPortofolio {
        width: 90%;
        max-width: 400px;
        height: 400px;
        margin-bottom: 60px;
    }

    .lastPortofolio {
        margin-bottom: 0px;
    }



    /* ----------  SECTION 4 - Services section  ---------- */

    .servicesIcon {
        width: 40px;
        height: 40px;
        margin-bottom: 30px;
        margin-right: 0px;
    }

    .iconHolder, .serviceName {
        text-align: center;
    }

    .serviceName {
        margin-bottom: 30px;
    }

    .serviceDescription {
        text-align: center;
        margin-bottom: 0px;
    }

    .service {
        padding-right: 0px;
    }

    .tattooing, .tattooingDesign, .coverUp {
        margin-bottom: 60px;
    }



    /* ----------  SECTION 5 - Contact section  ---------- */

    .contactTitle {
        margin-bottom: 60px;
    }

    .contactDescription, .inputSpace {
        margin-bottom: 30px;
    }

    .inputSpace, .submitButton {
        width: 90%;
    }



    /* ----------  FOOTER  ---------- */

    .footerDetails {
        padding-top: 30px;
        padding-top: 30px;
    }

    .detailsList > li {
        margin-bottom: 30px;
    }

    .socialMedia > li {
        margin-right: 20px;
        margin-left: 20px;
        display: inline-block;
        text-align: center;
    }

    .socialMedia {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .socialMedia > li:first-of-type {
        display: block;
        width: 100%; 
    }

    #map {
        margin-bottom: 40px;
    }

}
