@media only screen and (max-width: 768px) {
  /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }



    [class*="swiperPresentation"] {
        width: 50%;
        max-width: 400px;
        height: 300px;
    }

/* -------------- */

    [class*="tattooShopName"] {
        padding-right: 0px;
    }

    [class*="descriptionOne"] {
        padding-right: 0px;
    }

    [class*="descriptionTwo"] {
        padding-right: 0px;
    }

/* -------------- */

    [class*="aboutDescription"] {
        padding-right: 0px;
    }

    [class*="aboutThirdParagraph"] {
        padding-bottom: 25px;
    }

    [class*="sketchImage"] {
        height: 170px;
        width: 100%;    
    }

    [class*="tattooShopImage"] {
        height: 112px;
        width: 100%;    
        margin-top: 25px;
    }


    /* -------------- */

    [class*="artistName"] {
        margin-bottom: 20px;
    }

    [class*="spirals"] {
        margin-bottom: 20px;
    }

    [class*="artistPortofolio"] {
        width: 90%;
        max-width: 400px;
        height: 400px;
    }

    /* -------------- */


    [class*="servicesIcon"] {
        width: 40px;
        height: 40px;
        margin: 0px;
    }

    [class*="iconHolder"] {
        text-align: center;
    }

    [class*="serviceName"] {
        text-align: center;
    }

    [class*="serviceDescription"] {
        text-align: center;
    }

    [class*="service"] {
        padding-right: 0px;
    }

}