/* ---------- GENERAL ---------- */

body {
    font-family: 'Raleway';
    background-color: black;
}

/* Space between sections */
.padding-row-y {
    padding-top: 65px;
    padding-bottom: 65px;
}

.padding-row-y:first-of-type {
    padding-top: 0px;
}

.padding-row-y:last-of-type {
    padding-bottom: 0px;
}

.allSections {
    margin-top: 50px;
    margin-bottom: 120px;
}

/* Personalised Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background-color: #333; 
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom right, #DF33EE 17.41%, #F4980D 34.84%, rgba(6, 232, 55, 0.961246) 65.16%, rgba(6, 244, 217, 0.961246) 81.83%);    
    border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(to bottom right, #DF33EE 17.41%, #F4980D 34.84%, rgba(6, 232, 55, 0.961246) 65.16%, rgba(6, 244, 217, 0.961246) 81.83%);    
}



/* ----------  HEADER - Logo & Menu ---------- */

.logoAndMenu {
    margin-top: 40px;
}

.logo img {
    max-width: 164px;
}

.menu > ul > li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    margin-left: 40px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .2rem;
}

.menu > ul li {
    position: relative;
}

.menu > ul li:first-of-type {
    margin-left: 0px;
}

.menu > ul li:after {
    content: "";
    width: 100%;
    height: 1px;
    bottom: -5px;
    left: 0px;
    border-radius: 222px;
    background-image: linear-gradient(to bottom right, #DF33EE 17.41%, #F4980D 34.84%, rgba(6, 232, 55, 0.961246) 65.16%, rgba(6, 244, 217, 0.961246) 81.83%);    
    position: absolute;
    display: none;
}

ul li:hover:after {
    display: block;
}

a, a:hover, a:visited {
    text-decoration: none !important;
    color: white;
}



/* ----------  SECTION 1 - Presentation section  ---------- */

.tattooShopName, .descriptionOne, .descriptionTwo {
    color: white;
    margin-bottom: 40px;
    padding-right: 100px;
}

.tattooShopName{
    font-size: 40px;
    font-weight: 900;
    letter-spacing: .5rem;
}

.descriptionOne {
    font-size: 25px;
    letter-spacing: .3rem;
}

.descriptionTwo {
    font-size: 20px;
    letter-spacing: .2rem;
}

.info > a {
    width: 232px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 100px;
    display: inline-block;
    padding-top: 12px;
    text-align: center;
}

.bookNow {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.21em;
    background-image: linear-gradient(to bottom right, #DF33EE 17.41%, #F4980D 34.84%, rgba(6, 232, 55, 0.961246) 65.16%, rgba(6, 244, 217, 0.961246) 81.83%);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

.tattoo1 {
    background-image: url("images/infoTattooOne.jpg");
    width: 100%;
    height: 518px;
    margin-top: 40px;
    box-shadow: rgba(180, 180, 180, 0.353) 3px 3px 46px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.prevButton, .nextButton{
    height: 35px;
    width: 35px;
}



/* ----------  SECTION 2 - About section  ---------- */

.aboutDescription {
    padding-right: 100px;
}

.aboutTitle {
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 0.21em;
    margin-bottom: 60px;
}

.aboutFirstParagraph, .aboutSecondParagraph, .aboutThirdParagraph {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 0.21em;
}

.aboutSecondParagraph {
    padding-top: 25px;
}

.sketchImage {
    background-image: url("images/aboutTattooOne.jpg");
    height: 333px;
    width: 510;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.tattooShopImage {
    background-image: url("images/aboutTattooTwo.jpg");
    height: 400px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 60px;
}



/* ----------  SECTION 3 - Artists section  ---------- */

.artistsTitle {
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 0.21em;
    margin-bottom: 60px;
    text-align: center;
}

.artistPictureHolder {
    height: 122px;
    width: 122px;
    border-radius: 100%;
    background-image: linear-gradient(to bottom right, #DF33EE 17.41%, #F4980D 34.84%, rgba(6, 232, 55, 0.961246) 65.16%, rgba(6, 244, 217, 0.961246) 81.83%);    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 21px;
}

.artistPicture {
    height: 119px;
    width: 119px;
    background-color: black;
    border-radius: 100%;
    border-style: solid;
    border-width: 9px;
    border-color: black;
    background-size: contain;
    background-repeat: no-repeat;
}

#artist1 {
    background-image: url('images/John.png');
}

#artist2 {
    background-image: url('images/Jakub.png');
}

#artist3 {
    background-image: url('images/Hanna.png');
}

#artist4 {
    background-image: url('images/Zofia.png');
}

#artist5 {
    background-image: url('images/Mikołaj.png');
}

#artist6 {
    background-image: url('images/Julia.png');
}

.artistName {
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 0.21em;
    margin-bottom: 55px;
    text-align: center;
}

.spirals {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 55px;
}

.portofolio {
    background-color: #eb12ff6e;
    width: 100%;
    height: 207px;
}



/* ----------  SECTION 4 - Services section  ---------- */

.servicesTitle {
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 0.21em;
    margin-bottom: 60px;
}

.serviceName {
    font-size: 25px;
    font-weight: 500;
    color: #FFFFFF;
    letter-spacing: 0.21em;
    margin-bottom: 25px;
    background-image: linear-gradient(to bottom right, #DF33EE 17.41%, #F4980D 34.84%, rgba(6, 232, 55, 0.961246) 65.16%, rgba(6, 244, 217, 0.961246), rgb(6, 244, 216) 81.83%);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.serviceDescription {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 0.21em;
}

.icon {
    width: 70px;
    height: 70px;
    margin-right: 32px;
}

.tattooing, .tattooingDesign, .coverUp {
    margin-bottom: 90px;
}



/* ----------  SECTION 5 - Contact section  ---------- */

.contactTitle {
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 0.21em;
    margin-bottom: 24px;
    text-align: center;
}

.contactDescription {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 0.21em;
    text-align: center;
    margin-bottom: 24px;
}

.inputSpace {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.21em;
    margin-bottom: 24px;
    height: 43px;
    width: 376px;
    border: 0px;
    background: #656565;
    border-radius: 45px;
    padding: 23px;
    color: white;
}

.inputSpace::placeholder {
    color: #C4C4C4;
}

.sendRequestButton {
    background: #FFFFFF;
    border-radius: 100px;
    display: inline-block;
    padding-top: 8px;
    text-align: center;
    height: 43px;
    width: 376px;
}

.sendRequest {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.21em;
    background-image: linear-gradient(to bottom right, #DF33EE 17.41%, #F4980D 34.84%, rgba(6, 232, 55, 0.961246) 65.16%, rgba(6, 244, 217, 0.961246) 81.83%);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

.placeholdersAndButton {
    margin: 0 auto;
}

.sendRequest {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.21em;
    background-image: linear-gradient(to bottom right, #DF33EE 17.41%, #F4980D 34.84%, rgba(6, 232, 55, 0.961246) 65.16%, rgba(6, 244, 217, 0.961246) 81.83%);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}



/* ----------  FOOTER  ---------- */

footer {
    width: 100%;
    background-color: #232323;
}

.footerDetails {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.21em;
    color: white;
    padding-top: 56px;
}

.detailsList, .socialMedia {
    list-style-type: none;
    padding-left: 0px;
}

.detailsList > li {
    margin-bottom: 40px;
}

.socialMedia > li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

#map { 
    height: 233px; 
    width: 100%;
}