/* ---------- GENERAL ---------- */

body {
    font-family: 'Raleway';
    background-color: black;
    overflow-x: hidden;
}

#preloader {
    background: black url("images/logoBig.png");
    background-size: 35%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-position: center;
    background-repeat: no-repeat;
    transition:all 1s;
}

/* Space between sections */
.padding-row-y {
    padding-top: 65px;
    padding-bottom: 65px;
}

.padding-row-y:first-of-type {
    padding-top: 0px;
}

.padding-row-y:last-of-type {
    padding-bottom: 0px;
}

.allSections {
    margin-top: 50px;
    margin-bottom: 120px;
}

/* Personalised Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background-color: #333; 
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom right, #DF33EE 17.41%, #F4980D 34.84%, rgba(6, 232, 55, 0.961246) 65.16%, rgba(6, 244, 217, 0.961246) 81.83%);    
    border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(to bottom right, #DF33EE 17.41%, #F4980D 34.84%, rgba(6, 232, 55, 0.961246) 65.16%, rgba(6, 244, 217, 0.961246) 81.83%);    
}

.swiper-pagination-bullet-active, .swiper-scrollbar-drag {
    background-image: linear-gradient(to bottom right, #DF33EE 17.41%, #F4980D 34.84%, rgba(6, 232, 55, 0.961246) 65.16%, rgba(6, 244, 217, 0.961246) 81.83%);    
}



/* ----------  HEADER - LOGO & MENU ---------- */

.logoAndMenu {
    padding-top: 40px;
}

.logo img {
    max-width: 164px;
}

.menu > ul > li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    margin-left: 40px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .2rem;
}

.menu > ul li {
    position: relative;
}

.menu > ul li:first-of-type {
    margin-left: 0px;
}

.menu > ul li:after {
    content: "";
    width: 100%;
    height: 1px;
    bottom: -5px;
    left: 0px;
    border-radius: 222px;
    background-image: linear-gradient(to bottom right, #DF33EE 17.41%, #F4980D 34.84%, rgba(6, 232, 55, 0.961246) 65.16%, rgba(6, 244, 217, 0.961246) 81.83%);    
    position: absolute;
    display: none;
}

ul li:hover:after {
    display: block;
}

a, a:hover, a:visited {
    text-decoration: none !important;
    color: white;
}

.mobileLogoAndMenu {
    display: none;
}



/* ----------  SECTION 1 - Presentation section  ---------- */

.tattooShopName, .descriptionOne, .descriptionTwo {
    color: white;
    margin-bottom: 40px;
    padding-right: 100px;
}

.tattooShopName{
    font-size: 40px;
    font-weight: 900;
    letter-spacing: .5rem;
}

.descriptionOne {
    font-size: 25px;
    letter-spacing: .3rem;
}

.descriptionTwo {
    font-size: 20px;
    letter-spacing: .2rem;
}

.info > a {
    width: 232px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 100px;
    display: inline-block;
    padding-top: 12px;
    text-align: center;
}

.bookNow {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.21em;
    background-image: linear-gradient(to bottom right, #DF33EE 17.41%, #F4980D 34.84%, rgba(6, 232, 55, 0.961246) 65.16%, rgba(6, 244, 217, 0.961246) 81.83%);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

.swiperPresentation {
    width: 408px;
    height: 518px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.presentationCards {
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Presentation Cards Pack */
.presentationCardsPack > .card1 { background-image: url("images/presentationCards/card1.jpg"); }
.presentationCardsPack > .card2 { background-image: url("images/presentationCards/card2.jpg"); }
.presentationCardsPack > .card3 { background-image: url("images/presentationCards/card3.jpg"); }
.presentationCardsPack > .card4 { background-image: url("images/presentationCards/card4.jpg"); }
.presentationCardsPack > .card5 { background-image: url("images/presentationCards/card5.jpg"); }
.presentationCardsPack > .card6 { background-image: url("images/presentationCards/card6.jpg"); }
.presentationCardsPack > .card7 { background-image: url("images/presentationCards/card7.jpg"); }
.presentationCardsPack > .card8 { background-image: url("images/presentationCards/card8.jpg"); }
.presentationCardsPack > .card9 { background-image: url("images/presentationCards/card9.jpg"); }
.presentationCardsPack > .card10 { background-image: url("images/presentationCards/card10.jpg"); }



/* ----------  SECTION 2 - About section  ---------- */

.aboutDescription {
    padding-right: 100px;
}

.aboutTitle {
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 0.21em;
    margin-bottom: 60px;
}

.aboutFirstParagraph, .aboutSecondParagraph, .aboutThirdParagraph {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 0.21em;
}

.aboutSecondParagraph {
    padding-top: 25px;
}

.sketchImage {
    background-image: url("images/aboutSection/aboutTattooOne.jpg");
    height: 333px;
    width: 510;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.tattooShopImage {
    background-image: url("images/aboutSection/aboutTattooTwo.jpg");
    height: 400px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 60px;
}



/* ----------  SECTION 3 - Artists section  ---------- */

.artistsTitle {
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 0.21em;
    margin-bottom: 60px;
    text-align: center;
}

.artistPictureHolder {
    height: 122px;
    width: 122px;
    border-radius: 100%;
    background-image: linear-gradient(to bottom right, #DF33EE 17.41%, #F4980D 34.84%, rgba(6, 232, 55, 0.961246) 65.16%, rgba(6, 244, 217, 0.961246) 81.83%);    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 21px;
}

.artistPicture {
    height: 118px;
    width: 118px;
    background-color: black;
    border-radius: 100%;
    border-style: solid;
    border-width: 9px;
    border-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#artist1 {
    background-image: url('images/artistsFacePicture/John.png');
}

#artist2 {
    background-image: url('images/artistsFacePicture/Jakub.png');
}

#artist3 {
    background-image: url('images/artistsFacePicture/Hanna.png');
}

#artist4 {
    background-image: url('images/artistsFacePicture/Zofia.png');
}

#artist5 {
    background-image: url('images/artistsFacePicture/Mikołaj.png');
}

#artist6 {
    background-image: url('images/artistsFacePicture/Julia.png');
}

.artistName {
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 0.21em;
    margin-bottom: 40px;
    text-align: center;
}

.spirals {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.artistPortofolio {
    margin-bottom: 80px;
    width: 400px;
    height: 450px;
    border-radius: 13px;
}

.artistCards {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Artist 1 Portofolio */
.artist1CardsPack > .card1 { background-image: url("images/artist1tattoos/card1.jpg"); }
.artist1CardsPack > .card2 { background-image: url("images/artist1tattoos/card2.jpg"); }
.artist1CardsPack > .card3 { background-image: url("images/artist1tattoos/card3.jpg"); }
.artist1CardsPack > .card4 { background-image: url("images/artist1tattoos/card4.jpg"); }
.artist1CardsPack > .card5 { background-image: url("images/artist1tattoos/card5.jpg"); }
.artist1CardsPack > .card6 { background-image: url("images/artist1tattoos/card6.jpg"); }
.artist1CardsPack > .card7 { background-image: url("images/artist1tattoos/card7.jpg"); }
.artist1CardsPack > .card8 { background-image: url("images/artist1tattoos/card8.jpg"); }
.artist1CardsPack > .card9 { background-image: url("images/artist1tattoos/card9.jpg"); }
.artist1CardsPack > .card10 { background-image: url("images/artist1tattoos/card10.jpg"); }

/* Artist 2 Portofolio */
.artist2CardsPack > .card1 { background-image: url("images/artist2tattoos/card1.jpg"); }
.artist2CardsPack > .card2 { background-image: url("images/artist2tattoos/card2.jpg"); }
.artist2CardsPack > .card3 { background-image: url("images/artist2tattoos/card3.jpg"); }
.artist2CardsPack > .card4 { background-image: url("images/artist2tattoos/card4.jpg"); }
.artist2CardsPack > .card5 { background-image: url("images/artist2tattoos/card5.jpg"); }
.artist2CardsPack > .card6 { background-image: url("images/artist2tattoos/card6.jpg"); }
.artist2CardsPack > .card7 { background-image: url("images/artist2tattoos/card7.jpg"); }
.artist2CardsPack > .card8 { background-image: url("images/artist2tattoos/card8.jpg"); }
.artist2CardsPack > .card9 { background-image: url("images/artist2tattoos/card9.jpg"); }
.artist2CardsPack > .card10 { background-image: url("images/artist2tattoos/card10.jpg"); }

/* Artist 3 Portofolio */
.artist3CardsPack > .card1 { background-image: url("images/artist3tattoos/card1.jpg"); }
.artist3CardsPack > .card2 { background-image: url("images/artist3tattoos/card2.jpg"); }
.artist3CardsPack > .card3 { background-image: url("images/artist3tattoos/card3.jpg"); }
.artist3CardsPack > .card4 { background-image: url("images/artist3tattoos/card4.jpg"); }
.artist3CardsPack > .card5 { background-image: url("images/artist3tattoos/card5.jpg"); }
.artist3CardsPack > .card6 { background-image: url("images/artist3tattoos/card6.jpg"); }
.artist3CardsPack > .card7 { background-image: url("images/artist3tattoos/card7.jpg"); }
.artist3CardsPack > .card8 { background-image: url("images/artist3tattoos/card8.jpg"); }
.artist3CardsPack > .card9 { background-image: url("images/artist3tattoos/card9.jpg"); }
.artist3CardsPack > .card10 { background-image: url("images/artist3tattoos/card10.jpg"); }

/* Artist 4 Portofolio */
.artist4CardsPack > .card1 { background-image: url("images/artist4tattoos/card1.jpg"); }
.artist4CardsPack > .card2 { background-image: url("images/artist4tattoos/card2.jpg"); }
.artist4CardsPack > .card3 { background-image: url("images/artist4tattoos/card3.jpg"); }
.artist4CardsPack > .card4 { background-image: url("images/artist4tattoos/card4.jpg"); }
.artist4CardsPack > .card5 { background-image: url("images/artist4tattoos/card5.jpg"); }
.artist4CardsPack > .card6 { background-image: url("images/artist4tattoos/card6.jpg"); }
.artist4CardsPack > .card7 { background-image: url("images/artist4tattoos/card7.jpg"); }
.artist4CardsPack > .card8 { background-image: url("images/artist4tattoos/card8.jpg"); }
.artist4CardsPack > .card9 { background-image: url("images/artist4tattoos/card9.jpg"); }
.artist4CardsPack > .card10 { background-image: url("images/artist4tattoos/card10.jpg"); }

/* Artist 5 Portofolio */
.artist5CardsPack > .card1 { background-image: url("images/artist5tattoos/card1.jpg"); }
.artist5CardsPack > .card2 { background-image: url("images/artist5tattoos/card2.jpg"); }
.artist5CardsPack > .card3 { background-image: url("images/artist5tattoos/card3.jpg"); }
.artist5CardsPack > .card4 { background-image: url("images/artist5tattoos/card4.jpg"); }
.artist5CardsPack > .card5 { background-image: url("images/artist5tattoos/card5.jpg"); }
.artist5CardsPack > .card6 { background-image: url("images/artist5tattoos/card6.jpg"); }
.artist5CardsPack > .card7 { background-image: url("images/artist5tattoos/card7.jpg"); }
.artist5CardsPack > .card8 { background-image: url("images/artist5tattoos/card8.jpg"); }
.artist5CardsPack > .card9 { background-image: url("images/artist5tattoos/card9.jpg"); }
.artist5CardsPack > .card10 { background-image: url("images/artist5tattoos/card10.jpg"); }

/* Artist 6 Portofolio */
.artist6CardsPack > .card1 { background-image: url("images/artist6tattoos/card1.jpg"); }
.artist6CardsPack > .card2 { background-image: url("images/artist6tattoos/card2.jpg"); }
.artist6CardsPack > .card3 { background-image: url("images/artist6tattoos/card3.jpg"); }
.artist6CardsPack > .card4 { background-image: url("images/artist6tattoos/card4.jpg"); }
.artist6CardsPack > .card5 { background-image: url("images/artist6tattoos/card5.jpg"); }
.artist6CardsPack > .card6 { background-image: url("images/artist6tattoos/card6.jpg"); }
.artist6CardsPack > .card7 { background-image: url("images/artist6tattoos/card7.jpg"); }
.artist6CardsPack > .card8 { background-image: url("images/artist6tattoos/card8.jpg"); }
.artist6CardsPack > .card9 { background-image: url("images/artist6tattoos/card9.jpg"); }
.artist6CardsPack > .card10 { background-image: url("images/artist6tattoos/card10.jpg"); }



/* ----------  SECTION 4 - Services section  ---------- */

.servicesTitle {
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 0.21em;
    margin-bottom: 60px;
}

.serviceName {
    font-size: 25px;
    font-weight: 500;
    color: #FFFFFF;
    letter-spacing: 0.21em;
    margin-bottom: 25px;
    background-image: linear-gradient(to bottom right, #DF33EE 17.41%, #F4980D 34.84%, rgba(6, 232, 55, 0.961246) 65.16%, rgba(6, 244, 217, 0.961246), rgb(6, 244, 216) 81.83%);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.serviceDescription {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 0.21em;
}

.servicesIcon {
    width: 70px;
    height: 70px;
    margin-right: 32px;
}

.tattooing, .tattooingDesign, .coverUp {
    margin-bottom: 90px;
}



/* ----------  SECTION 5 - Contact section  ---------- */

.contactTitle {
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 0.21em;
    margin-bottom: 24px;
    text-align: center;
}

.contactDescription {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 0.21em;
    text-align: center;
    margin-bottom: 24px;
}

.inputSpace {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.21em;
    margin-bottom: 24px;
    height: 43px;
    width: 376px;
    border: 0px;
    background: #656565;
    border-radius: 45px;
    padding: 23px;
    color: white;
    outline: none;
}

.inputSpace::placeholder {
    color: #C4C4C4;
}

.designDescription {
    height: 120px;
    border-radius: 30px;
    resize: none;
    padding-top: 10px;
}

textarea::-webkit-scrollbar {
    /* Removing the scrollbar but keeping the functionality */
    display: none;
}

.submitButton {
    /* White button with gradient text */
    height: 43px;
    width: 376px;
    border: none;
    background-image: linear-gradient(to bottom right, #DF33EE 30.41%, #F4980D 39.84%, rgba(6, 232, 55, 0.961246) 59.16%, rgba(6, 244, 217, 0.961246) 60.83%);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.21em;
}

.submitButton:after {
    /* White button with gradient text */
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: -1;
    border-radius: 45px;
}

.placeholdersAndButton {
    margin: 0 auto;
}

.sendRequest {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.21em;
    background-image: linear-gradient(to bottom right, #DF33EE 17.41%, #F4980D 34.84%, rgba(6, 232, 55, 0.961246) 65.16%, rgba(6, 244, 217, 0.961246) 81.83%);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}



/* ----------  FOOTER  ---------- */

footer {
    width: 100%;
    background-color: #232323;
}

.footerDetails {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.21em;
    color: white;
    padding-top: 56px;
}

.detailsList, .socialMedia {
    list-style-type: none;
    padding-left: 0px;
}

.detailsList > li {
    margin-bottom: 40px;
}

.socialMedia > li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

#map { 
    height: 233px; 
    width: 100%;
}

.footerIcons {
    padding-left: 40px;
    background-position: left center;
    background-repeat: no-repeat;
}

.phoneIcon {
    background-image: url("images/footerIcons/phone.svg");
}

.mailIcon {
    background-image: url("images/footerIcons/mail.svg");
}

.homeIcon {
    background-image: url("images/footerIcons/home.svg");
}

.clockIcon {
    background-image: url("images/footerIcons/clock.svg");
}