span {
    color: #21b20c;
}

h3 {
    color: #FF7F50;
    background-color: white;
}

.londonEye {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
}