html { 
    background: url(encodedText.avif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
  }

.bodyContainer {
    background-color: rgba(83, 82, 82, 0.674);
    width: 80%;
    height: 600px;
    margin: 50px;
    border-radius: 10px;
    overflow-y: scroll;
}

h1 {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 0 50px 20px;
}

p, .enterYourText, .enteredText, .convertedText {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.enteredText, .convertedText {
    font-weight: bold;
}

.button {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px 0 0 0;
}

.blankSpace {
    height: 50px;
    width: 100%;
}

.yourResultText {
    padding-left: 20px;
}

.form, .convertedText {
    padding-left: 20px;
}

.convertedText {
    padding: 20px;
}

.result {
    display: none;
}