body {
    display: flex;
    flex-direction: row;
    background-image: url('images/pageBackground.jpg');
    overflow: hidden;
}

.introduction, .personalizedBirthstone {
    height: 100%;
    width: 50%;
    color: white;
    margin: 30px;
}

.emptySpace {
    height: 100%;
    width: 5%;
}

h1 {
    padding: 10px;
}

p {
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 1.5;
    padding: 0 0 0 10px;
}

.introductionText, .pleaseProvide {
    margin-top: 30px;
}

.bornOn {
    display: none;
    margin-top: 15px;
}

.container {
    display: flex;
}

.birthstonesImage {
    display: block;
    margin-top: 50px;
    width: 85%;
}

.yearSelection, .monthSelection, .daySelection {
    background-color: rgba(0, 0, 0, 0.508);
    color: white;
    width: 90px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1.5px;
    line-height: 1.5;
    margin: 5px 19px 5px 0px;
}

.hiddenUserDate {
    display: none;
}

.confirmButton {
    background-color: rgba(107, 244, 85, 0.699);
    width: 90px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1.5px;
    line-height: 1.5;
    margin: 5px 5px 5px 50px;
    border-width: 0px;
}

div.card {
    background-color: rgba(96, 96, 96, 0.245) !important;
    height: 350px !important;
    width: 300px !important;
    display: none;
    margin: 25px 0 0 110px;
}

.card-text {
    margin-bottom: 5px;
}

.card-title {
    text-align: center;
    margin-bottom: 20px !important;
}

.cardPicture {
    width: 50% !important;
    margin: 5% 25% 0 25%;
}

.refresh {
    display: none;
    font-size: 14px;
    margin-top: 20px;
}