#theSquare {
    width: 20px;
    height: 20px;
    background-color: lightskyblue;
    position: fixed;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .topLeft {
      top: 5px;
      left: 5px;
    }
    .bottomRight {
      bottom: 5px;
      right: 5px;
    }
  }


@media only screen and (min-width: 501px) {
    .topLeft {
      top: 50px;
      left: 50px;
    }
    .bottomRight {
      bottom: 50px;
      right: 50px;
    }
  }