#theSquare {
    width: 20px;
    height: 20px;
    background-color: lightskyblue;
    position: fixed;
    cursor: pointer;
}


/* @media only screen and (max-width: 500px) {
    .initialSquare {
      left: 5px;
      top: 5px;
    }
  }


@media only screen and (min-width: 500px) {
    .initialSquare {
      left: 50px;
      top: 50px;
    }
  } */


@media only screen and (max-width: 500px) {
    #theSquare {
      bottom: 5px;
      right: 5px;
    }
  }


@media only screen and (min-width: 500px) {
    #theSquare {
      bottom: 50px;
      right: 50px;
    }
  }